*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 400px;
    height: 500px;
    margin: 50px auto;
    border: none;
    background-color: #2e3530;
    border-radius: 10px;
    overflow: hidden;
    
}
.inputdiv input{
    width: 100%;
    height: 150px;
    background-color: transparent;
    border: none;
    font-size: 35px;
    color: white;
}
.bodydiv table{
    width: 100%;
    height: 350px;
    
}
.bodydiv table tr td{
    border: 1px solid #2e3530;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    background-color: #d5d9d5;
}
.bodydiv table tr td:hover{
    background-color: #b0b8b3;
}
.colorful{
    background-color: #d5d9d5;
    color: black !important;
}
